@import 'photon.css';

.toolbar-header .title {
  -webkit-app-region: drag;
}

.preferences .pane {
  padding: 1rem;
}

a {
  text-decoration: none;
}

.volume-control {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-app-region: no-drag;
  width: 100px;
  margin: 0 4px;
}

.search-input {
  width: auto;
  padding: 1px 5px;
  vertical-align: middle;
  border-color: #ccc;
  min-height: auto;
}

.form-control:focus {
  border-color: #6db3fd;
  box-shadow: 0 0 0 1px #6db3fd;
}

.media-list {
  table-layout: fixed;
}
