::-webkit-scrollbar {
  width: .6rem;
  background-color: var(--darken);
}

::-webkit-scrollbar-corner {
  background-color: var(--lighten);
}

::-webkit-scrollbar-thumb {
  /*border: 1px solid var(--scrollbar-bg);*/
  /*border-radius: 10px;*/
  background: #ddd;
}

::-webkit-scrollbar-track {
  background-color: var(--darken);
}
