language: node_js
node_js:
  - 7
dist: trusty
sudo: false
os:
  - osx
  - linux
cache:
  directories:
    - node_modules
    - ~/.npm
    - ~/.electron
    - ~/.nvm
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
      - xvfb
      - icnsutils
      - graphicsmagick
      - xz-utils
before_install:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then export CXX=g++-4.8; fi
  - export JOBS=max
  - export DISPLAY=':99.0'
  - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start
after_success:
  - npm run dist
