build: off

platform:
  - x64

cache:
  - node_modules -> package.json
  - '%APPDATA%\npm-cache -> package.json'
  - '%USERPROFILE%\.electron'
  - "%LOCALAPPDATA%\\Yarn"

install:
  - ps: Install-Product node 7 x64
  - yarn

test_script:
  - node --version
  - npm --version
  - npm test

on_success:
  - npm run dist

environment:
  GH_TOKEN:
    secure: mtm1UAUZ0tByhVTYD+cTXy530JM6N9D6bE6aXR37EUMW7JzF91LMuqXBjSEzUf7z

