::-webkit-scrollbar,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background-color: var(--darken);
}

::-webkit-scrollbar,
::-webkit-scrollbar-track { background-color: transparent }

::-webkit-scrollbar-track:hover {
  background-color: var(--darken);
}

::-webkit-scrollbar {
  width: .6rem;
  height: .6rem;
}

::-webkit-scrollbar-thumb {
  /*border: 1px solid var(--scrollbar-bg);*/
  /*border-radius: 10px;*/
  background: var(--dark);
}
